* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #4fa3a5;
  --secondary: #fa5396;
  --bg-section: #f8f4f3;
  --border: #d2d2d2;
}
.hide {
  display: none;
}
.bg-white {
  background-color: #fff;
}
.bg-section {
  background-color: var(--bg-section);
}

.cus-margin-auto {
  margin: 0 auto;
}

.cus-padding-0 {
  padding: 0;
}

.cus-padding-top-bot-20 {
  padding: 20px 0;
}

.cus-margin-0 {
  margin: 0;
}

.cus-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cus-flex-center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cus-text-white {
  color: #fff !important;
}
.cus-border {
  border: 1px solid var(--border);
}
.margin-top-100 {
  margin-top: 100px;
}

.margin-top-28 {
  margin-top: 28px;
}

.margin-bot-40 {
  margin-bottom: 40px;
}
.margin-bot-28 {
  margin-bottom: 28px;
}

.margin-top-40 {
  margin-top: 40px;
}

.p-16 {
  padding: 16px 0;
}
.section-tittle {
  font-size: 28px;
  font-weight: bold;
  color: #242424;
  text-transform: uppercase;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 80%;
}
/* Toast message */
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}
/* toast */
#cus-toast {
  position: fixed;
  top: 32px;
  right: 0px;
  z-index: 1040;
}
.cus-toast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-section);
  border-radius: 4px;
  padding: 18px 0;
  border-left: 4px solid var(--primary);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  max-width: 320px;
  transition: all linear 0.3s;
  animation: slideInLeft ease 0.3s, cusFadeOut linear 1s 2s forwards;
}
.cus-toast + .cus-toast {
  margin-top: 16px;
}
.toast__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
}
.toast__icon {
  padding: 0 8px;
}
.toast__icon {
  font-size: 24px;
  color: var(--primary);
}

.toast__tittle {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  color: var(--primary);
  margin-bottom: 0;
}
.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 8px;
  margin-bottom: 0;
}
@keyframes slideInLeft {
  from {
    transform: translateX(calc(100% + 32px));
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes cusFadeOut {
  to {
    opacity: 0;
  }
}

/* go to top */
#go-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2e5f60; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 14px;
  border-radius: 50%;
  font-size: 16px; /* Increase font size */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  scroll-behavior: smooth;
}
#go-to-top:hover {
  opacity: 0.8; /* Add a dark-grey background on hover */
  transition: linear 0.3s;
}
/* modal */
.modal-cart {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1055;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-cart-content {
  position: relative;
  background-color: #fefefe;
  margin-left: auto;
  padding: 44px 20px;
  bottom: 1px solid var(--border);
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  position: absolute;
  top: 4px;
  right: 12px;
  font-size: 24px;
  line-height: 32px;
  opacity: 0.6;
}

.close:hover,
.close:focus {
  opacity: 1;
  cursor: pointer;
}
.modal-cart .wrap-cart-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-cart .img-empty-cart {
  width: 100%;
}

.modal-cart .img-empty-cart img {
  max-width: 100%;
  object-fit: cover;
}
.modal-cart .list-items {
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-cart .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-cart .cart-content-bot {
  height: 30%;
}
.modal-cart .item-main {
  display: flex;
  align-items: center;
}
.modal-cart .item-img {
  width: 70px;
  height: 70px;
  margin-right: 8px;
}

.modal-cart .item-img img {
  width: 100%;
}

.modal-cart .item-info p {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.modal-cart .item-info p.item-info-name {
  text-transform: capitalize;
  font-weight: 500;
}

.modal-cart .item-info p.item-info-unit-price span {
  font-size: 16px;
  font-weight: 500;
}
.modal-cart .item-remove {
  margin-right: 8px;
}
.modal-cart .item-remove i {
  color: var(--secondary);
  opacity: 0.6;
  cursor: pointer;
}

.modal-cart .item-remove:hover i {
  opacity: 1;
}
.modal-cart .sub-total {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.modal-cart .sub-total p {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.modal-cart .sub-total p span {
  font-size: 24px;
  color: var(--secondary);
}

.modal-cart .gr-button {
  margin: 20px 0;
}
.modal-cart .gr-button a {
  display: block;
}

.modal-cart .gr-button a:first-child {
  margin-bottom: 12px;
}

.modal-cart .gr-button a button {
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
}

.modal-cart .gr-button a:first-child button {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  transition: linear 0.3s;
}
.modal-cart .gr-button a:first-child:hover button {
  background-color: #fff;
  color: var(--primary);
}
.modal-cart .gr-button a:last-child button,
.modal-cart .gr-button a:nth-child(2) button {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: #fff;
  transition: linear 0.3s;
}
.modal-cart .gr-button a:last-child:hover button,
.modal-cart .gr-button a:nth-child(2):hover button {
  background-color: #fff;
  color: var(--secondary);
}
/* Navigation */
.header nav {
  border-bottom: 1px solid var(--border);
}
.nav-header ul:first-child li {
  margin: 0 1rem;
}

.nav-header ul:last-child li {
  margin: 0;
}

.nav-header ul:first-child li a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.nav-header ul:first-child li a:hover {
  color: var(--primary);
}

.nav-cart,
.nav-search,
.nav-user {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
}

.nav-cart {
  position: relative;
}

.nav-cart:hover {
  cursor: pointer;
}

.nav-cart span {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 1px solid #fff;
  background-color: var(--secondary);
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.nav-cart:hover,
.nav-search:hover,
.nav-user:hover {
  transition: linear 0.3s;
  border: 1px solid var(--primary);
  background-color: #d5eaeb;
}

/* Slider */

.banner-mobi {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.slider-item-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #333;
  width: 550px;
}
.slider-item-content p:first-child {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider-item-content p:nth-child(2) {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider-item-content a {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 12px 40px;
  transition: linear 0.3s;
}

.slider-item-content a:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
}
@media screen and (min-width: 768px) {
  .banner-mobi {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .slider-item-content,
  .banner-pc {
    display: none;
  }

  .policy-wrap-item span {
    width: 50%;
  }

  .section-description {
    width: 75% !important;
  }
  #slider {
    margin-top: 80px;
  }
}
@media screen and (max-width: 992px) {
  .nav-header ul:last-child li {
    margin: 0 1rem;
  }
  .slider-item-content {
    width: 280px;
  }
  .slider-item-content p:first-child {
    font-size: 16px;
  }
  .slider-item-content p:nth-child(2) {
    font-size: 20px;
  }
  .slider-item-content a {
    font-size: 14px;
    padding: 8px 24px;
  }

  #deal-of-the-day {
    height: 60vh;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .slider-item-content {
    width: 350px;
  }

  #deal-of-the-day {
    height: 70vh;
  }
}
/* about */
.img-about {
  max-width: 100%;
  max-height: 100%;
}

#about {
  padding: 20px 0;
}
.img-about img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* max-height: 100%; */
}

.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-icon img {
  max-width: 100%;
}

.about-tittle {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.about-content {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.cus-border {
  border: 1px solid var(--border);
}

/* featured product */
.featured-product {
  padding: 20px 0;
}

.wrap-featured-product-cart {
  position: relative;
  padding: 16px;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 8px;
}
.wrap-featured-product-cart:hover {
  cursor: pointer;
}
.featured-product-cart .product-img {
  width: 100%;
  overflow: hidden;
}

.featured-product-cart .product-img img {
  width: 100%;
}
.featured-product-cart .product-img:hover img {
  transform: scale(1.2) rotate(10deg);
  transition: ease-in 0.5s;
}

.cus-margin-top-bot-8px {
  margin: 8px 0;
}
.wrap-featured-product-cart .add-to-cart {
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
}

.fa-basket-shopping {
  margin-left: 4px;
}

.wrap-featured-product-cart .add-to-cart:hover {
  background-color: var(--primary);
  color: #fff;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-origin,
.product-type,
.product-weight {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.wrap-featured-product-cart .old-price {
  font-size: 20px;
  text-decoration: line-through;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

.wrap-featured-product-cart .current-price {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary);
  margin-left: 16px;
}

.discount {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 4px 16px;
  font-size: 16px;
  color: #fff;
  background-color: var(--secondary);
  border-radius: 4px;
  z-index: 1;
}

.discount::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -3px;
  left: 8px;
  transform: rotate(45deg);
  background-color: var(--secondary);
}

/* Section why choose us */
#why-choose-us {
  padding: 20px 0;
}

.policy-wrap-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.policy-img-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--border);
}

.policy-img-item img {
  display: block;
  width: 100%;
  margin: auto;
}
.policy-wrap-item h3 {
  margin: auto;
  text-transform: uppercase;
  font-size: 24px;
}

.policy-wrap-item span {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.policy-wrap-item-center {
  width: 100%;
  animation: mymove 2s infinite linear;
}

.policy-wrap-item-center img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.bold {
  font-weight: 500;
}

/* partner */

#partner {
  background-color: var(--bg-section);
}

.list-partner {
  width: 100%;
  background-image: url(../img/about\ us/brands_home_bg.PNG);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.partner-logo {
  width: 100%;
}

.partner-logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* Review */
#review {
  padding: 20px 0;
}
.wrap-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.item-review {
  width: 50%;
  padding: 16px;
}

.info-person-text {
  padding: 16px;
  background-color: var(--bg-section);
  border-radius: 8px;
  min-height: 150px;
  position: relative;
  border: 1px solid var(--primary);
}
.info-person-text::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--bg-section);
  position: absolute;
  bottom: -8px;
  left: 16px;
  z-index: 1;
  transform: rotate(45deg);
}
.info-person-text::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--bg-section);
  position: absolute;
  bottom: -9px;
  left: 16px;
  z-index: -1;
  transform: rotate(45deg);
  border: 1px solid var(--primary);
}

.info-person-text h3 {
  text-transform: uppercase;
  font-size: 20px;
}
.info-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.info-person .person {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-person .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.info-person .avatar img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-person .name {
  padding: 0 12px;
}

.name h4 {
  font-size: 18px;
}
.name p {
  font-size: 14px;
}
.fa-star {
  color: #f1c40f;
}
@media screen and (max-width: 992px) {
  .info-person .avatar {
    max-width: 60px;
    height: 60px;
  }
  .info-person .name h4 {
    font-size: 16px;
  }
  .info-person {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .img-about {
    margin-bottom: 40px;
  }
  .info-person .avatar {
    max-width: 40px;
    height: 40px;
  }
  .info-person .name h4 {
    font-size: 14px;
  }
  .info-person {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .wrap-reviews {
    gap: 8px;
  }
  .item-review {
    padding: 0;
  }
  .info-person-text {
    min-height: 200px;
  }
  #review .carousel-control-prev {
    left: 75% !important;
  }
}
@media screen and (max-width: 365px) {
  .info-person-text h3 {
    font-size: 16px;
  }
  .info-person-text {
    min-height: 250px;
  }
  span.carousel-control-prev-icon {
    margin-right: 8px;
  }
  #deal-of-the-day .wrap-deal {
    width: 50%;
  }
  #deal-of-the-day p.section-tittle {
    font-size: 16px;
  }
  #deal-of-the-day p.deal-description {
    margin: 0;
  }
  #deal-of-the-day p.name-product-deal {
    margin: 0;
  }
}
@media screen and (min-width: 767px) {
  #review .carousel-control-prev {
    left: 80% !important;
  }
}

#review .carousel-control-next,
#review .carousel-control-prev {
  top: calc(100% + 30px);
}

#review .carousel-control-prev-icon,
#review .carousel-control-next-icon {
  background-color: var(--primary);
  border: 1px solid var(--border);
  background-position: center;
}

/* map */

/* deal of the day */
#deal-of-the-day {
  background-image: url(../img/banner/sale.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.wrap-deal {
  width: 40%;
  margin-left: auto;
}
.name-product-deal {
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}
.price-deal,
.price-old-deal {
  font-size: 24px;
  font-weight: 500;
}
.deal-description {
  width: 75%;
}
.price-old-deal {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.price-deal {
  color: var(--secondary);
}

.wrap-deal button {
  font-size: 18px;
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 8px 32px;
  transition: linear 0.3s;
}

.wrap-deal button a {
  color: var(--primary);
  text-decoration: none;
}
.wrap-deal button:hover a {
  color: #fff;
}

.wrap-deal button:hover {
  background-color: var(--primary);
}

@media screen and (max-width: 767px) {
  #deal-of-the-day .section-tittle {
    font-size: 20px;
  }
  #deal-of-the-day .deal-description {
    font-size: 12px;
  }

  .name-product-deal {
    font-size: 20px;
  }

  .wrap-deal button {
    font-size: 14px;
  }

  .price-deal,
  .price-old-deal {
    font-size: 18px;
  }

  .deal-description {
    width: 100%;
  }

  #deal-of-the-day {
    height: 60vh;
  }
}

/* footer */
.footer {
  position: relative;
  padding: 20px 0 0 0;
  background-color: var(--bg-section);
}

.footer::before {
  content: "";
  width: 100%;
  height: 20px;
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cus-logo-footer {
  width: 100px;
  height: 100px;
  margin: auto;
}

.footer-description {
  margin: 28px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.cus-logo-footer img {
  width: 100%;
}

.footer-list-social {
  display: flex;
  justify-content: space-around;
}

.footer-list-social a {
  opacity: 0.5;
}

.footer-list-social a:hover {
  opacity: 1;
  transition: linear 0.3s;
}

.social-item {
  width: 24px;
  height: 24px;
}

.social-item img {
  width: 100%;
}

.footer-list-item a {
  text-decoration: none;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
}

.footer-list-item a:hover {
  color: var(--primary);
}

.footer-tittle {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.fa-location-dot,
.fa-envelope,
.fa-phone {
  padding: 0 6px 0 0;
}
.copyright {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  margin: auto;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}
.fa-heart {
  color: var(--secondary);
}
@media screen and (max-width: 575px) {
  .footer .col-sm-6 {
    text-align: center;
  }
}

/* detail */
/* breadcrumb */
#breadcrumb {
  padding: 20px 0;
}

#breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

#breadcrumb .breadcrumb-item a:hover {
  color: var(--primary);
}
#breadcrumb .breadcrumb-item:last-child {
  color: var(--secondary);
  font-weight: 500;
}

/*  section product info*/

#detail-product {
  padding: 0px 0 20px 0;
}

.quantity-product-weight-group {
  display: flex;
}
.detail-product-img {
  width: 100%;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.detail-product-img img {
  width: 100%;
  object-fit: contain;
}

.minus-quantity-detail-product,
.plus-quantity-detail-product {
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary);
  background-color: #fff;
}

.minus-quantity-detail-product{
  border-right: none ;
}
.plus-quantity-detail-product{
  border-left: none ;
}

.minus-quantity-detail-product:hover,
.plus-quantity-detail-product:hover {
  background-color: var(--primary);
  color: #fff;
}

.quantity-product-weight {
  height: 40px;
  width: 60px;
  text-align: center;
  border: 2px solid var(--primary);
  outline: none;
}

.detail-product-weight {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.detail-product-weight span {
  font-size: 20px;
  font-weight: 500;
  padding: 0 16px 0 0;
}

.detail-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}
.wrap-detail-product-info p {
  font-size: 20px;
}
.wrap-detail-product-info .name {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.wrap-detail-product-info .unit-price {
  margin-bottom: 1rem;
}

.wrap-detail-product-info .sale-off span:first-child,
.wrap-detail-product-info .unit-price span:first-child,
.wrap-detail-product-info .origin span:first-child,
.wrap-detail-product-info .type span:first-child {
  font-size: 20px;
  font-weight: 500;
}

.wrap-detail-product-info .sale-off span:last-child,
.wrap-detail-product-info .unit-price .current-price {
  font-size: 28px;
  color: var(--secondary);
  font-weight: 500;
}

.wrap-detail-product-info .unit-price .old-price {
  font-size: 20px;
  text-decoration: line-through;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.wrap-detail-product-btn .add-to-cart,
.wrap-detail-product-btn .buy-now {
  min-width: 180px;
  padding: 6px 0px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 400;
}

.wrap-detail-product-btn .add-to-cart {
  border: 2px solid var(--primary);
  color: #4fa3a5;
}

.wrap-detail-product-btn .buy-now {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.wrap-detail-product-btn .add-to-cart:hover {
  color: #fff;
  background-color: var(--primary);
}

.wrap-detail-product-btn .buy-now:hover {
  color: #fff;
  background-color: var(--secondary);
}

.wrap-detail-product-btn .add-to-cart {
  margin-right: 16px;
}

@media screen and (max-width: 767px) {
  .detail-product-info {
    height: auto;
  }
  .wrap-detail-product-btn .add-to-cart,
  .wrap-detail-product-btn .buy-now {
    width: 60%;
    margin: 20px 0 0 0;
  }

  .wrap-detail-product-info {
    margin-top: 40px;
  }
}
@media screen and (max-width: 993px) and (min-width: 768px) {
  .wrap-detail-product-btn .add-to-cart,
  .wrap-detail-product-btn .buy-now {
    min-width: 150px;
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  .wrap-detail-product-btn .add-to-cart,
  .wrap-detail-product-btn .buy-now {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
  }

  #tabs-detail ul#myTab .nav-link {
    font-size: 16px;
    padding: 5px 8px 10px 8px;
  }
}

/* tab detail */

#tabs-detail {
  min-height: 80vh;
  padding: 20px 0;
  background-color: var(--bg-section);
}
#tabs-detail ul#myTab {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}
#tabs-detail ul#myTab .nav-link.active {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  background-color: transparent;
}
#tabs-detail ul#myTab .nav-link {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 5px 12px 10px 12px;
  /* margin-right: 24px; */
}

#tabs-detail .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;
}

#tabs-detail #myTabContent p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 415px) {
  #tabs-detail ul#myTab .nav-link {
    font-size: 14px;
    padding: 5px 12 10px 12;
    font-weight: 500;
  }
  #tabs-detail .tab-pane p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* product category */

#product-category {
  padding: 0 0 20px 0;
}
.wrap-filter-category {
  padding: 20px;
  background: rgba(79, 163, 165, 0.1);
  border: 1px solid #4fa3a5;
  border-radius: 8px;
}

.wrap-filter-category > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.filter-by-type > p,
.filter-by-origin > p,
.filter-by-price > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.wrap-filter-category ul {
  list-style: none;
  padding: 0;
}

.wrap-filter-category ul .item-filter label {
  font-size: 14px;
  font-weight: 400;
}
.product-container {
  margin-bottom: 24px;
}
.product-item {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(210, 210, 210, 1);
  position: relative;
  cursor: pointer;
}

.product-item .old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.product-item .current-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
}
.product-item .product-img {
  width: 100%;
  height: 220px;
}
.product-item .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: linear 0.3s;
}

.product-item .product-img {
  overflow: hidden;
}

.product-item:hover img {
  transform: scale(1.2);
}

.product-item .add-to-cart {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  border: 1px solid var(--primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  background: #ddeeee;
  color: #4fa3a5;
  transition: linear 0.3s;
}

.product-item .add-to-cart:hover {
  background-color: var(--primary);
  cursor: pointer;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .wrap-list-filter {
    display: flex;
    justify-content: space-between;
  }

  .wrap-list-filter label {
    font-size: 12px;
  }

  .wrap-list-filter p {
    font-size: 14px;
  }

  .form-search-product {
    width: 100% !important;
  }
}

.form-search-product {
  margin-left: auto;
  width: 50%;
}
.form-search {
  width: 100%;
}
.form-search input[type="search"] {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--primary);
}

/* cart */
.cart-content {
  padding: 0px 0 20px 0;
}

.cart-content h3 {
  text-transform: capitalize;
}
.cart-content .product-list-in-cart {
  display: flex;
  flex-direction: column;
}
.img-empty-cart {
  max-width: 100%;
}
.img-empty-cart img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.product-in-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--border);
  /* margin-bottom: 16px; */
}

.product-in-cart .product-info {
  display: flex;
  align-items: center;
  min-width: 230px;
}

.product-in-cart .product-info .product-img {
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

.product-in-cart .product-info .product-img img {
  width: 100%;
}

.product-in-cart .product-info .product-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: capitalize;
}

.product-in-cart .product-info span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
}

.product-in-cart .product-info .sale-off,
.product-in-cart .product-info .current-price {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
}

.product-in-cart .product-info .old-price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  font-weight: 500;
}
.remove-product {
  padding: 4px;
}
.remove-product i {
  color: #fa5396;
  font-size: 20px;
}

.remove-product:hover {
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .product-in-cart .product-info {
    flex-direction: column;
    min-width: unset;
    width: 100%;
  }
  .cart-content .quantity-product-weight-group {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 16px;
  }
  .cart-content .minus-quantity-detail-product,
  .cart-content .plus-quantity-detail-product {
    width: 60px;
  }
  .cart-content .minus-quantity-detail-product {
    border-top: none;
    border-right: 2px solid var(--primary) ;
  }
  .cart-content .plus-quantity-detail-product {
    border-bottom: none;
    border-left: 2px solid var(--primary) ;
  }
  .wrap-filter-category {
    padding: 4px;
  }
  .wrap-detail-product-info .name {
    font-size: 24px;
  }
  .wrap-detail-product-info .sale-off span:first-child,
  .wrap-detail-product-info .unit-price span:first-child,
  .wrap-detail-product-info .origin span:first-child,
  .wrap-detail-product-info .type span:first-child,
  .detail-product-weight span {
    font-size: 16px;
  }

  .wrap-detail-product-info .sale-off span:last-child,
  .wrap-detail-product-info .unit-price .current-price {
    font-size: 24px;
  }
  .wrap-detail-product-info p {
    font-size: 16px;
  }
  #tabs-detail ul#myTab .nav-link {
    font-size: 14px;
  }
  .section-tittle {
    font-size: 24px;
  }
}
@media screen and (max-width: 328px) {
  #tabs-detail ul#myTab .nav-link {
    padding: 5px 8px;
  }
}

.summary {
  padding: 16px;
  border: 1px solid var(--border);
  border-radius: 8px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-section);
}

.summary .total-price,
.summary .shipping-cost,
.summary .total {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.summary .total-price span:first-child,
.summary .shipping-cost span:first-child,
.summary .total span:first-child {
  font-size: 16px;
  font-weight: 500;
}

.summary .total-price span:last-child,
.summary .shipping-cost span:last-child,
.summary .total span:last-child {
  font-size: 20px;
  font-weight: 600;
}
.summary .check-out,
.summary .place-order {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary);
  transition: linear 0.3s;
}

.summary .check-out a,
.summary .place-order a {
  text-decoration: none;
  color: #fff;
}

.summary .check-out:hover a,
.summary .place-order:hover {
  color: var(--primary);
}

.summary .check-out:hover,
.summary .place-order:hover {
  background-color: #fff;
}

.back-to-shop {
  margin-top: 36px;
}
.back-to-shop a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 400;
}

.back-to-shop:hover a {
  color: var(--primary);
}

.back-to-shop a i {
  margin-right: 4px;
}

/* check out */

#check-out {
  padding: 20px 0;
}

#check-out .row {
  margin-bottom: 40px;
}

#check-out .delivery-address {
  padding: 16px 0;
}

#check-out .summary {
  border: none;
  background-color: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#check-out .summary .list-items-order {
  flex: 1;
}
#check-out .summary .list-items-order,
#check-out .summary .wrap-content-summary {
  background-color: #fff;
  border: 1px solid var(--border);
  padding: 16px;
  border-radius: 8px;
}
#check-out .summary {
  height: 100%;
}
#check-out .summary .wrap-content-summary {
  margin-bottom: 32px;
}

#check-out .wrap-item-order-info {
  display: flex;
}

#check-out .list-items-order .item-order {
  display: flex;
  padding: 12px 16px 8px 16px;
  justify-content: space-between;
  align-items: center;
}

#check-out .item-order .item-order-img {
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

#check-out .item-order .remove-item-order {
  padding: 4px;
  cursor: pointer;
  color: var(--secondary);
}
#check-out .item-order-info .item-order-name {
  font-size: 16px;
  text-transform: capitalize;
}

#check-out .item-order-info .item-order-unit-price span:last-child {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 600;
}
#check-out .delivery-address {
  padding: 16px;
  border: 1px solid var(--border);
  border-radius: 8px;
}
#check-out .delivery-address h3 {
  margin-bottom: 28px;
}
#check-out .delivery-address .wrap-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#check-out .input-box {
  display: flex;
  flex-direction: column;
}
#check-out .input-box {
  display: flex;
}

#check-out .input-box label {
  font-size: 16px;
  font-weight: 500;
  min-width: 160px;
}

#check-out .input-box input,
#check-out .input-box select {
  height: 40px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 0 16px;
  margin-top: 8px;
}

#check-out .input-box textarea {
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 0 16px;
  margin-top: 8px;
}

#check-out span.form-message,
#check-out span.select-message {
  display: none;
  margin: 8px 0;
  color: red;
  transition: linear 0.3s;
}

@media screen and (max-width: 768px) {
  #check-out span.form-message,
  #check-out span.select-message {
    margin: 8px 0;
  }
}
/* confirm */
#confirm {
  padding: 20px 0;
}
#confirm .row {
  margin-bottom: 40px;
}

.wrap-confirm-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.wrap-confirm-left .img {
  max-width: 200px;
  margin-bottom: 36px;
}
.wrap-confirm-left .img img {
  width: 100%;
}

.wrap-confirm-left h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.wrap-confirm-left p.bot {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 75%;
}

#confirm button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin: 32px auto 48px auto;
  display: block;
}

#confirm button:hover {
  background-color: #fff;
  transition: linear 0.3s;
}
#confirm button:hover a {
  color: var(--primary);
}

#confirm button a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 12px 40px;
}

.customer-detail p {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 22px;
}
.wrap-confirm-right h3 {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border);
  text-transform: uppercase;
}

.wrap-confirm-right h5 {
  padding: 12px 0;
}

.wrap-confirm-right .customer-detail {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border);
}

.wrap-confirm-right .order-detail {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--border);
}

.order-detail table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid var(--border);
}

.order-detail td,
.order-detail th {
  text-align: left;
  padding: 8px;
  text-transform: capitalize;
}

.order-detail th {
  font-size: 16px;
}

.order-detail td {
  font-size: 14px;
}

.order-detail table tr:nth-child(even),
.order-detail table th {
  background-color: var(--border);
}

.bill-total p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
}

.bill-total p span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.bill-total {
  border-bottom: 1px solid var(--border);
  padding-bottom: 16px;
}

/* about us */

#about-us {
  padding: 0 0 20px 0;
}

#about-us .row {
  margin-bottom: 40px;
}

#about-us h6 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#about-us .contact-content {
  display: flex;
  gap: 32px;
}
#about-us .contact-content .contact-form-wrap,
#about-us .contact-content .contact-info {
  width: 50%;
}

#about-us ul {
  list-style: none;
  margin: 32px 0 0 0;
  padding: 0;
}
#about-us ul li {
  display: flex;
  margin: 16px 0;
}

#about-us ul input {
  height: 40px;
}

#about-us ul input,
#about-us ul textarea {
  flex: 1;
  padding: 0 12px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--border);
}
#about-us ul label {
  min-width: 100px;
}

#about-us .contact-form-wrap button {
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  padding: 8px 48px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  transition: linear 0.3s;
  cursor: pointer;
  margin: 28px 0 32px 0;
}

#about-us .contact-form-wrap button:hover {
  background-color: #fff;
  color: var(--primary);
}

.contact-info-list i {
  padding-right: 8px;
}
.contact-info-list p {
  margin-bottom: 0;
}
.contact-info-list label {
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  #about-us .contact-content {
    flex-direction: column-reverse;
  }
  #about-us .contact-content .contact-form-wrap,
  #about-us .contact-content .contact-info {
    width: 100%;
  }
}

/* pagination */
.cus-pagination {
  margin-top: 40px;
}
.cus-pagination .pagination {
  justify-content: center;
}
.cus-pagination .pagination a {
  color: var(--primary);
  display: block;
  padding: 8px 16px;
}
