*{
    margin: 0;
    padding: 0;
}
.header ul{
    display: flex;
    justify-content: space-between;
    height:60px;
    align-items: center;
    background: #2c3e50;
    padding: 0 30px;
    list-style: none;

}
.header ul li a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    color: #fff;
}