body {
    background: #fff;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.nav-link a:hover {
    color: white;
}

.navbar-left .nav-link,
.noidung_dropdown a,
.nut_dropdown a {
    font-size: 16px;
}

/* * header :start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-link a {
    color: White;
}

.navbar-code {
    position: relative;
    background: Black;
}

.navbar-left {
    display: inline-block;
    margin-left: 15px;
}

.navbar-right {
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-brand,
.navbar-code .nav-link {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.navbar-brand {
    font: normal 18px 'Open Sans', cursive;
    padding-left: 30px;
    padding-right: 30px;
    color: #EBDACC;
}

.navbar-code .nav-link:hover {
    color: LightGray;
}

.navbar-collapse,
.navbar-toggler {
    display: none;
}

@media (max-width: 842px) {

    .navbar-right,
    .navbar-left {
        display: block;
        border-top: 1px solid DimGray;
    }

    .navbar-right {
        position: static;
    }

    .navbar-code .nav-link {
        display: block;
    }

    .navbar-collapse:checked+.navbar-code {
        max-height: 50px;
        overflow: hidden;
    }

    .navbar-toggler {
        color: White;
        display: inline-block;
        padding: 15px 25px;
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid DimGray;
        cursor: pointer;
    }

    li .zoom-image-thumb {
        float: none !important;
    }
}


.nut_dropdown {
    background-color: Black;
    color: white;
    padding: 16px;
    border: none;
}

.nut_dropdown a {
    text-decoration: none;
    color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.noidung_dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.noidung_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.noidung_dropdown a:hover {
    background-color: #ddd;
}


.dropdown:hover .noidung_dropdown {
    display: block;
}

.dropdown:hover .nut_dropdown {
    background-color: black;
}

/* ô input */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.search {
    position: relative;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    /* float: right; */
    background: black;
}

.search-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
    z-index: 1000;
}

.search-bar form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}

nav li:hover {
    background-color: orange;
}

.search:hover i {
    color: gray;
}

.search:hover .search-bar {
    display: block;
    z-index: 1000;
}

.search-bar form input[type="text"]:focus {
    width: 500px;
    background-color: white;
    z-index: 1000;
}

/* header :end */

/* content-start */
.header-content {
    background: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/blog-title.jpg);
    background-position: center 0px;
    height: 480px;
    margin-bottom: 100px;
}

h1 {
    font-size: 60px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: 164px;
}

/* ô input */
.box {
    margin: 20px 0;
    width: 100%;
    height: 50px;
}

/* Search 1 - bg change*/
.container-1 {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: #666;
    border: none;
    font-size: 10pt;
    float: left;
    color: white;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
    color: white;
}

.container-1 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

.container-1 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

.container-1 input#search:-ms-input-placeholder {
    color: white;
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 1;
    color: white;
}

.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #2b303b;
}

.title-widget-post,
.title-post-tab {
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.widget-post-cat h2 {
    /* padding-left: 2em; */
    margin-top: 20px;
}

a:hover {
    color: #ff8500;
}

.noidung_dropdown a {
    color: black;
}

.nut_dropdown a {
    color: white;
}

.widget-post-cat ul li {
    padding: 10px 0 0 0;
}

.title-post-tab a {
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-widget-post,
.title-post-tab {
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}


/* 1 */
.widget {
    clear: both;
}

.title-post-tab {
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #333;
}

.tab-content>.active {
    display: block;
}

.fade.in {
    opacity: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-post-tab li {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.list-post-tab li:after,
.list-post-tab li:before {
    content: "";
    display: table;
    clear: both;
}

li .zoom-image-thumb {
    max-width: 100px;
    margin-right: 15px;
    float: left;
}

.title-post-tab a {
    color: #333;
}

ul li a {
    color: #999;
}

.post-tab-info h3 {
    font-weight: 400;
    margin-bottom: 5px;
}

.h3 {
    color: #333;
    font-weight: 700;
    line-height: 1.35;
}

.title-recent-blog {
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 14px;
}

.post-tab-info span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

.sidebar .list-post-tab li {
    margin-bottom: 20px;
    padding-bottom: 0;
    display: inline-block;
}

.sidebar ul li {
    padding-bottom: 10px;
    margin-bottom: 2px;
}

.list-post-tab li {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.page-wrapper,
.box {
    padding: 0px 70px;
}

textarea {
    width: 100%;
}

#submit-comment {
    font-size: 12px;
    line-height: 1.15em;
    letter-spacing: .15em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 19px 35px;
    background: #365899;
    border-color: #365899;
    color: white;
}

.comment-blog-bottom h4 {
    color: #1c1e21;
    margin-bottom: 10px;
}

/* right */
.blog-header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.blog-header .post-tags-info,
.blog-header .post-date {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 12px;
}

.blog-header .post-tags-info a {
    color: #ff8500;
}

.post-title {
    color: #333;
    font-weight: 700;
    line-height: 1.35;
}

.blog-header h3 a {
    font-weight: 700;
    color: #333;
    font-size: 1.2em;
}

.post-content .post-description p {
    font-size: 14px;
    line-height: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* content-end */

/* footer :start */
.page-footer {
    margin-top: 30px;
}

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: #111;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #EBDACC;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}



.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .page-wrapper,
    .box {
        padding: 0px 20px;
    }

}

/* footer end */

@media (max-width:576px) {
    .sidebar-left {
        display: none;
    }

    .search-bar form input[type="text"]:focus {
        width: 300px;
        background-color: white;
    }
}