body {
    background: #fff;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

ul {
    padding-left: 0;
}

/* * header :start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-left .nav-link,
.noidung_dropdown a,
.nut_dropdown a {
    font-size: 16px;
}


.nav-link a {
    color: White;
}

.navbar-code {
    position: relative;
    background: Black;
}

.navbar-left {
    display: inline-block;
    margin-left: 15px;
}

.navbar-right {
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-brand,
.navbar-code .nav-link {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.navbar-brand {
    font: normal 18px 'Open Sans', cursive;
    padding-left: 30px;
    padding-right: 30px;
    color: #EBDACC;
}

.navbar-code .nav-link:hover {
    color: LightGray;
}

.navbar-collapse,
.navbar-toggler {
    display: none;
}

@media (max-width: 842px) {

    .navbar-right,
    .navbar-left {
        display: block;
        border-top: 1px solid DimGray;
    }

    .navbar-right {
        position: static;
    }

    .navbar-code .nav-link {
        display: block;
    }

    .navbar-collapse:checked+.navbar-code {
        max-height: 50px;
        overflow: hidden;
    }

    .navbar-toggler {
        color: White;
        display: inline-block;
        padding: 15px 25px;
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid DimGray;
        cursor: pointer;
    }
}


.nut_dropdown {
    background-color: Black;
    color: white;
    padding: 16px;
    border: none;
}

.nut_dropdown a {
    text-decoration: none;
    color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.noidung_dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.noidung_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.noidung_dropdown a:hover {
    background-color: #ddd;
}


.dropdown:hover .noidung_dropdown {
    display: block;
}

.dropdown:hover .nut_dropdown {
    background-color: black;
}

/* ô input */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.search {
    position: relative;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    /* float: right; */
    background: black;
}

.search-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
    z-index: 1000;
}

.search-bar form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}

nav li:hover {
    background-color: orange;
}

.search:hover i {
    color: gray;
}

.search:hover .search-bar {
    display: block;
    z-index: 1000;
}

.search-bar form input[type="text"]:focus {
    width: 500px;
    background-color: white;
}

/* header :end */


.catalog-product-view .breadcrumbs {
    max-width: 100%;
    margin-bottom: 0;
    padding: 30px 0 50px;
    text-align: left;
}

.items {
    display: flex;
}

.breadcrumbs {
    padding: 10px 0px 30px 0px;
}

.breadcrumbs .items {
    font-size: 1.2rem;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    list-style: none none;
}

.items a {
    text-decoration: none;
    color: #999;
    font-size: 13px;
}

.items strong {
    color: #333;
    font-size: 13px;
}


.breadcrumbs .item:not(:last-child) {
    display: inline-block;
    text-decoration: none;
}

.icon {
    padding: 0px 10px;
}

.image-product {
    list-style: none;
}

.box-inner1 {
    padding-left: 70px;
}

.page-title-wrapper {
    text-align: left;
}

.price-box.price-final_price {
    margin: 10px 0 5px;
}

.product-view .product-info-main .price-box {
    float: left;
    width: 100%;
}

.price {

    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    color: #888;
}

.base {
    text-transform: none;
    font-size: 30px;
    font-weight: 400;
    color: #292929;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.value {
    color: #666;
}

.stock {
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: #333;
}

.product-info-stock-sku>div span {
    font-weight: 400;
    font-size: 13px;
    color: #ff8500;
    padding: 10px;
}

.type {
    color: #333;
    font-weight: 400;
    font-size: 13px;
}

.value {
    font-weight: 400;
    color: #606060;
    display: inline-block;
    font-size: 13px;
}

.type:after {
    content: ":";
    padding-left: 3px;
}

.nav-bar-content ul li {
    padding: 20px;
}

.add-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .fieldset .qty {
    padding: 0 14px;
    margin-right: 20px;
    border: 2px solid #ebebeb;
    height: 52.3px;
    border-radius: 30px;
} */
.fieldset .qty .qty-down {
    display: inline-block;
}

.field {
    display: flex;
}

.input-text-qty {
    background: 0 0;
    border: 0;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin: 0 5px;
    box-shadow: none;
    border-radius: 50%;
}

.fieldset .field {
    padding: 0 14px;
    margin-right: 20px;
    border: 2px solid #ebebeb;
    height: 52.3px;
    border-radius: 30px;
    align-items: center;
}

.fieldset {
    display: flex;
}

.product-view .box-tocart .field.qty .control input,
.product-options-bottom .box-tocart .field.qty .control input {
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
}

.tocart {
    width: 183px;
    height: 53px;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: #222;
    color: #fff;
    border-color: #333;
}


.rokan-product-heading {
    margin: 50px 0px
}

.product-image-photo {
    display: block;
}

.product-item-name {
    margin: 20px 0px;
}

.margin-icon {
    margin-right: 10px;
}

.price-box {
    margin: 10px 0px;
}

.margin-icon i,
.product-item-name a {
    color: black;
    text-decoration: none;
}

.rokan-product-heading h2 {
    font-size: 36px;
    color: #333;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -1.5px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-top,
.description {
    text-align: center;
    max-width: 55%;
    margin: auto;
}

/* footer :start */
section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: #111;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #EBDACC;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}



.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

.page-footer {
    margin-top: 50px;
}

/* footer end */

/* product-bestseller */
.owl-item {
    border: 1px solid #333;
    border-radius: 10px;
    margin-top: 20px;
}

.product-item-photo,
.image-switch,
.product-image-container,
.product-image-wrapper {
    display: inline-block;
}

.product-image-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.product-info {
    padding: 0px 10px 10px 10px;
}

.product-item-name a {
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.add-to-card a {
    color: #666;
    text-decoration: none;
}

.attribute {
    margin-top: 20px;
}

.box-tocart {
    margin-top: 20px;
}

.image-product li img,
.product-image-wrapper,
.img-product-big {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.1s ease-in-out;
}

@media(max-width:576px) {
    .image-product li {
        display: none;
    }

    .box-inner1 {
        padding: 0px;
    }

    .search-bar form input[type="text"]:focus {
        width: 300px;
        background-color: white;
    }
}

@media (max-width: 880px) {

    .page-title-wrapper,
    .box-inner1 {
        text-align: center;
    }

    .fieldset {
        justify-content: center;
    }

    .box-inner1 {
        padding: 10px;
    }

    .value {
        text-align: left;
    }

    .title-top,
    .description {
        max-width: 100%;
    }
}

/* tabs */
#wrapper {
    font-size: 18px;
    margin: 30px auto;
}

.tabs {
    border-bottom: 1px solid #666;
}

.nav-tab {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #ddd;
}

.nav-tab li {
    margin-right: 10px;
}

.nav-tab li a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    position: relative;
    color: #333;
    font-size: 0.9em;
}

.nav-tab li a::after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: transparent;
    /* transition: all 0.5s ease-in-out; */
}

.nav-tab li.active a::after,
.nav-tab li:hover a::after {
    background: #333;
    /* transition: all 0.5s ease-in-out; */
}

.tab-content {
    padding: 20px 0;
}

.tab-content-item {
    font-size: 14px;
    width: 90%;
}

/* rating */
#text-area {
    font-size: 1em;
    font-weight: 600;
    color: darkslategrey;
}

.center {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}

.rate label {
    float: right;
    font-size: 0;
    color: #E5E5E5;
    margin: 5px;
}

.rate label::before {
    content: "\f005";
    font-family: 'Font Awesome 5 free';
    font-size: 16px;
}

.rate label:hover,
.rate label:hover~label {
    color: #FCA311;
    transition: 0.8s;
    font-weight: 900;
}

.active {
    color: #FCA311;
    font-weight: 900;
}

.content-rating {
    padding-right: 5px;
}

.rate {
    padding-left: 5px;
}

@media(max-width:300px) {
    .fieldset .field {
        margin-right: 0;
    }

    .tocart {
        width: 130px;
    }
}

@media(max-width:500px) {}

.owl-item:hover .product-item .product-info .add-to-card a {
    color: #ff8500;
    text-decoration: underline;
}

.owl-item:hover img {
    transform: scale(1, 0.98);
    opacity: 0.7;
    padding: 0;
}

.actions:hover a button {
    opacity: 0.9;
}