body {
    background: #fff;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}


/* 1 */


/* * header :start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-link a{
    color: White;
}
.navbar-code {
    position: relative;
    background: Black;
}

.navbar-left {
    display: inline-block;
    margin-left: 15px;
}

.navbar-right {
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-brand,
.navbar-code .nav-link {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.navbar-brand {
    font: normal 18px 'Open Sans', cursive;
    padding-left: 30px;
    padding-right: 30px;
    color: #EBDACC;
}

.navbar-code .nav-link:hover {
    color: LightGray;
}

.navbar-collapse,
.navbar-toggler {
    display: none;
}

@media (max-width: 842px) {

    .navbar-right,
    .navbar-left {
        display: block;
        border-top: 1px solid DimGray;
    }

    .navbar-right {
        position: static;
    }

    .navbar-code .nav-link {
        display: block;
    }

    .navbar-collapse:checked+.navbar-code {
        max-height: 50px;
        overflow: hidden;
    }

    .navbar-toggler {
        color: White;
        display: inline-block;
        padding: 15px 25px;
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid DimGray;
        cursor: pointer;
    }
}


.nut_dropdown {
    background-color: Black;
    color: white;
    padding: 16px;
    border: none;
}

.nut_dropdown a {
    text-decoration: none;
    color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.noidung_dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.noidung_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.noidung_dropdown a:hover {
    background-color: #ddd;
}


.dropdown:hover .noidung_dropdown {
    display: block;
}

.dropdown:hover .nut_dropdown {
    background-color: black;
}
/* ô input */

  nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
  }
  nav li{
    display:inline-block;
  }
  nav li a{
    display:inline-block;
    text-decoration:none;
    color:white;
    padding:14px 16px;
  }
.search {
    position: relative;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    /* float: right; */
    background: black;
}

.search-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
    z-index: 1000;
}

.search-bar form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}

nav li:hover {
    background-color: orange;
}

.search:hover i {
    color: gray;
}

.search:hover .search-bar {
    display: block;
    z-index: 1000;
}

.search-bar form input[type="text"]:focus {
    width: 500px;
    background-color: white;
    z-index: 1000;
}

/* header :end */

/* blog-template-start*/
:root {
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

.hero-section {
    align-items: flex-start;

    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
    border: 0;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    bottom: 5%;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
/* bolg-template-end*/


.icon-header ul li {
    margin-right: 2em;
    margin-top: 10px;
}

.icon-header ul li a i {
    font-size: 14px;
    color: white;
    border: 2px solid white;
    padding: 10px 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.welcome,
.hotline {
    color: white;
}

.header-container .header .for-full-withmenu {
    align-items: flex-start;
}

.block-content {
    display: flex;
}

.icon-hearder-container {
    color: black;
}

.logo img {
    height: 100%;
    display: inline;
    margin: auto;
}

.text-color {
    text-decoration: none;
    color: black;
}

.header-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 0;
    position: static;
    background: #fff;
}

/* .header-container .header {
    background: #f5f5f5;
} */

.for-full-withmenu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 30px 0px;
}

.actions-header {
    display: flex;
}

.actions-header div {
    margin-right: 20px;
}

.container .nav .nav-item a {
    color: black;
}

.container .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-item {
    margin-bottom: 50px;
}

.title-top,
.description {
    text-align: center;
}

.title-top {
    color: black;
    margin: 50px 0px 30px 0px;
}



hr {
    margin: 0px 30px;
}

.rokan-product-heading {
    margin: 50px 0px
}

.product-image-container {
    width: 844px;
}

.product-image-photo {
    display: block;
    width: 325px;
}

.product-item-name {
    margin: 20px 0px;
}

.margin-icon {
    margin-right: 10px;
}

.price-box {
    margin: 10px 0px;
}

.margin-icon i,
.product-item-name a {
    color: black;
    text-decoration: none;
}

.banner-content img {
    width: 100%;
    height: 100%;
}

.countdown-row {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.countdown-row .countdown-amount {
    font-size: 24px;
    color: #fff;
    padding: 15px;
    margin-right: 7px;
    display: block;
    background: #ff8f00;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
}

.countdown-row .countdown-period {
    display: block;
    color: #707070;
    margin-top: 6px;
    padding: 0 5px;
    font-size: 24px;
    margin-right: 10px;
}

.post-info {
    text-align: center;
    text-decoration: none;
    color: black;
}

.post-title a {
    text-decoration: none;
    color: black;
}

.readmore {
    text-decoration: none;
    color: #ff8500;
}

.time-conment {
    margin: 30px 0px 20px 0px;
}

.post-title {
    margin-bottom: 20px;
}

.short-des {
    margin-bottom: 20px;
    color: #666;
}

.box-blog .blog-image {
    position: relative;
    overflow: hidden;
}

.box-blog .blog-image a {
    display: block;
    width: 100%;
}

.post-title a {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
    color: #333;
}

.logo-footer img {
    width: 390px;
    height: auto;

}


/* footer :start */
.page-footer {
    margin-top: 30px;
}

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: #111;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #EBDACC;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}



.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

/* footer end */

/* product-bestseller */
.owl-item {
    border: 1px solid #333;
    border-radius: 10px;
    margin-top: 20px;
}

.product-item-photo,
.product-image-wrapper {
    display: inline-block;
}


.product-info {
    padding: 0px 10px 10px 10px;
}

.product-item-name a {
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.add-to-card a {
    color: #666;
    text-decoration: none;
}
 
/* product-bestseller */
.owl-item:hover .product-item .product-info .add-to-card a {
    color: #ff8500;
    text-decoration: underline;
}

.product-image-wrapper {
    overflow: hidden;
}

.product-image-photo {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.owl-item:hover img {
    transform: scale(1, 0.98);
    opacity: 0.7;
    padding: 0;
}
/* product-bestseller */