body {
    font-family: "Bookman", serif;
    color: #000;
}

p {
    margin: 0;
}

.content {
    margin: 0 5rem;
}

.title-content {
    text-align: center;
    padding: 0 0 3rem 0;
}

.production {
    color: #95afc0;
    font-size: 0.8rem;
}

.title {
    font-size: 2rem;
}

.video {
    padding: 2rem;
}

.video img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.story,
.winning-awards,
.cast_crew {
    width: 60rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15rem 45rem;
    padding: 0 0 2rem 0;
}

.story-left,
.cast_crew-left,
.winning-awards-left {
    font-weight: bold;
    font-size: 0.8rem;
}

.tich {
    font-size: 0.6rem;
    padding: 0 0.5rem 0 0;
    align-items: center;
    color: #ffda79;
}

.story-1 {
    color: #333;
    font-size: 1.2rem;
    padding: 0 0 1rem 0;
}

.story-2,
.story-3 {
    color: #95afc0;
    font-size: 0.9rem;
    padding: 0 0 1rem 0;
}

.winning-awards-right {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem 8rem;
}

.winning-awards-right img {
    width: 100%;
    object-fit: cover;
}

.wrapper-cast_crew-partners {
    background-color: #ecf0f1;

}

.cast_crew {
    padding: 5rem 0 0 0;
}

.cast_crew-right {
    display: grid;
    grid-template-columns: 10rem 10rem 25rem;
    gap: 2rem;
}

.title-cast-crew {
    font-size: 0.9rem;
    color: #95afc0;
    font-weight: 400;
    padding: 0 0 1rem 0;
}

.cast-crew-author {
    font-size: 1rem;
    color: #333;
    padding: 0 0 0.5rem 0;
    font-weight: 500;
}

.cast-crew-author:nth-last-child(1) {
    padding: 0 0 2rem 0;

}
.list-cast{
    line-height: 1.5rem;
}