a {
    text-decoration: none;

}

.header-blog {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
    background-color: #dfe6e9;
}

.blog-tag {
    padding: 1rem 0;
}

.blog-grid {
    max-width: 60rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 19rem 19rem 19rem;
    gap: 1.5rem;
    padding: 5rem 0 1rem 0;
}

.blog-img img {
    max-width: 100%;
    height: 12rem;
    object-fit: cover;
}

.blog-item {
    padding: 1rem 0;
}

.day-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    align-items: center;
    text-align: center;
    color: #000;
    border: 1px solid #95afc0;
}


.day {
    font-family: Garamond, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.month {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.blog-item {
    max-width: 100%;
    display: grid;
    grid-template-columns: 4rem 13rem;
    gap: 1rem;
}

.blog-studio {
    font-size: 0.8rem;
}

.blog-title {
    font-size: 1rem;
    padding: 1rem 0 1.5rem 0;
}

.continue a {
    font-size: 0.9rem;
    color: #766643;
}

.blog-studio,
.day,
.month {
    color: #95afc0
}