.blog-title,
.blog-tag {
    text-align: center;
}

.blog-header {
    padding: 5rem 0;
    background-color: #95a5a6;
}

.blog-list-container {
    max-width: 63rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 42rem 18rem;
    gap: 3rem;
    padding: 4rem 0;
}

.blog-item {
    padding: 3rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 17rem 24rem;
}

.blog-item div img {
    width: 100%;
    object-fit: cover;

}

.blog-img {
    position: relative;
}

.day-month {
    position: absolute;
    top: 1.5rem;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto 0;
    background: #766643;
    color: #fff;
}

.day {
    font-size: 1.5rem;
    font-weight: 700;
}

.month {
    font-size: 0.8rem;
}

/* search bar */

.wrap {
    padding-top: 2rem;
}

.searchTerm {
    border: 1px solid #95a5a6;
    border-right: none;
    padding: 5px;
    height: 2.2rem;
    /* border-radius: 5px 0 0 5px; */
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #f7b731;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #766643;
    background: #766643;
    text-align: center;
    color: #fff;
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
    font-size: 20px;
}

.posts {
    padding: 3rem 0;
}

.posts-title,
.categories-title,
.popular-title {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    color: #95a5a6;
}

.post-content,
.popular-content {
    font-size: 0.9rem;
    color: #95a5a6;
    padding-bottom: 0.5rem;
}

.categories {
    color: #95a5a6;
    padding-bottom: 3rem;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.categories-title {
    padding-bottom: 2rem;
}

.popular {
    color: #d1d8e0;
}

.popular-title {
    padding-bottom: 2rem;
}

.popular-content {
    font-size: 1rem;
}

.blog-des,
.blog-studio {
    color: #95a5a6
}

.title-content {
    padding: 0.5rem 0;
}

.blog-des {
    font-size: 0.9rem;
}

.continue {
    padding: 1.5rem 0;
}

.continue a {
    font-size: 0.9rem;
    color: #766643;
}

.continue i {
    font-size: 0.5rem;
    padding-left: 0.2rem;

}
hr{
    border-top: 1px solid #9DBFAF;
    
}
.pagination-page{
    padding: 2rem  0 0 0;
}