body {
    font-family: "Bookman", serif;
    font-size: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-container {
    /* width: 100rem; */

}

.header-wapper {
    /* background-color: black; */
}

.header-nav {
    margin: 0 5rem;
    /* color: #fff; */
}

.header-nav,
.nav-items ul,
.nav-icons {
    display: flex;
}

.header-nav {
    justify-content: space-between;
    align-items: center;
}

.nav-items ul li {
    padding: 0.5rem 1rem;
    color: #CAD3C8
}

.pd-r-1 {
    padding-right: 1rem;
}

.nav-search {
    padding-right: 1rem;
}

.nav-logo {
    font-size: 2rem;
    font-weight: 800;
    color: #EAB543
}

/* Our project */
.our-project {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 6rem 0;
}

.title-project {
    font-size: 3rem;
}

.des-project {
    font-size: 0.8rem;
    color: #636e72;
}

.bold {
    font-weight: bold;
}

.our-project-items {
    padding: 2rem 0 2rem 0;
}

.our-project-item div img {
    width: 100%;
    object-fit: cover;
    height: 25em;
}

.our-project-item {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 3rem;
    align-items: center;
    color: #b2bec3
}

.item-studio {
    font-size: 0.8rem;
}

.item-title {
    margin: 0.2rem 0 1rem 0;
    font-size: 1.8rem;
    color: #222;
}


.project-right:nth-child(1){
    text-align: right;
}

.item-content {
    padding: 0 0 2rem 0;
    font-size: 0.8rem;
}

.loading {
    text-align: center;
    padding: 1rem 0 6rem 0;
}

.loading i,
.loading span {
    padding: 0.5rem;
    color: #b2bec3;
}

.footer{
    background-color: #2d3436;
}
ul{
    padding: 0;
}
h1,h2,h3,h4{
    margin: 0;
}