.nav {
    display: flex;
    justify-content: space-between;
    min-height: 42px;
    background-color: #EF5122;
}

.nav-list {
    display: flex;
    margin: auto 16px;
    padding-left: 0;
}

.nav-items {
    color: #fff;
    list-style: none;
    margin: 0 8px;
}

.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form-row {
    padding: 8px;
    display: flex;
}

.form__lable {
    min-width: 90px;
}

.form__input {
    flex: 1;
}

.column-layout {
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    padding: 12px 0;
    margin-top: 36px;
}

.column-item {
    margin: 0 16px;
    flex: 1;
}


.sidebar-one {
    flex: 1;
}

.slidebar-main {
    flex: 3;
}

.sidebar-two {
    flex: 1;
}

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.feature-item {
    flex-basis: 30%;
    padding: 12px 16px;
    margin: 16px 0 0 0;
}

.feature-item:nth-child(1) {
    background-color: #81ecec;
}

.feature-item:nth-child(2) {
    background-color: #fab1a0;
}

.feature-item:nth-child(3) {
    background-color: #ffeaa7;
}

.wrap-layout {
    display: flex;
    justify-content: space-around;
    padding: 12px 0 32px 0;
    margin-top: 36px;
    flex-wrap: wrap;
}

.wrap-layout-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: #eb2f06;
}
/* center layout */
.center-layout{
    background-color: #81ecec;
    margin: 36px auto 0 auto;;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}
.center-layout-item{
    margin: auto;
    font-size: 42px;
    font-weight: 700;
}