*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


.center {
    text-align: center;
    font-family: monospace;
    padding: 2rem 0;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #111;
    float: left;
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.5s;
    border: 1px solid #000;
}

.pagination a.active {
    color: #FFF;
    background-color: #766643;
    border: 1px solid #766643;
}

.pagination a:hover:not(.active) {
    background-color: #FFF;
}