#wrapper {
  font-size: 18px;
  margin: 0 auto;
}

.nav-tab {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #ddd;
}
.nav-tab li{
  margin-right: 10px;
}
.nav-tab li a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  position: relative;
  color: #333;
}

.nav-tab li a::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.nav-tab li.active a::after,
.nav-tab li:hover a::after {
  background: #333;
  transition: all 0.5s ease-in-out;
}
.tab-content{
  padding: 20px 0;
}
