body {
    background: #fff;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

h1,
h2 {
    color: #333;
    font-weight: 700;
    line-height: 1.35;
}

/* * header :start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-left .nav-link {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
}

.nav-link a {
    color: White;
}

.navbar-code {
    position: relative;
    background: #111;
    position: fixed;
    width: 100%;
    z-index: 1004;
}

.navbar-left {
    display: inline-block;
    margin-left: 15px;
}

.navbar-right {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    top: 10%;
    right: 0;
}

.navbar-brand,
.navbar-code .nav-link {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.navbar-brand {
    font: normal 18px 'Open Sans', cursive;
    padding-left: 30px;
    padding-right: 30px;
    color: #EBDACC;
}

.navbar-code .nav-link:hover {
    color: LightGray;
}

/* .navbar-collapse,
.navbar-toggler {
    display: none;
} */

@media (max-width: 842px) {
    .navbar-left {
        display: block;
    }

    .navbar-right {
        display: block;
        border-top: 1px solid DimGray;
    }

    .navbar-right {
        position: static;
    }

    .navbar-code .nav-link {
        display: block;
    }

    .navbar-collapse:checked+.navbar-code {
        max-height: 50px;
        overflow: hidden;
    }

    /* .navbar-toggler {
        color: White;
        display: inline-block;
        padding: 15px 25px;
        position: absolute;
        top: 0;
        right: 0;
        border: 2px solid DimGray;
        border-radius: 0 0 0 8px;
        cursor: pointer;
    } */

    .logo-header {
        padding: 0;
        padding-left: 30px;
    }
}


/* ô input */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.search {
    position: relative;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    /* float: right; */
    /* background: black; */
}

.search-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
    z-index: 1000;
}

.search-bar form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}


.search:hover i {
    color: gray;
}

.search:hover .search-bar {
    display: block;
    z-index: 1000;
}

.search-bar form input[type="text"]:focus {
    width: 500px;
    background-color: white;
    z-index: 1000;
}

.navbar-left .nav-lin,
.noidung_dropdown a {
    font-size: 16px;
}

/* .header-bot {
    height: 700px;
    background-image: url("../images/home-1-slider-image-1.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    background-attachment: fixed;
} */

.logo {
    position: absolute;
    top: 40px;
    left: 20px;
}

.logo img {
    height: 100px;
}

.container-header {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.heading {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-title {
    display: block;
    font-size: 2.5em;
    font-weight: 400;
    animation-name: hieu-ung-di-chuyen-sang-trai;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    font-family: Marcellus;
}

.heading-sub {
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    animation-name: hieu-ung-di-chuyen-sang-phai;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes hieu-ung-di-chuyen-sang-trai {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes hieu-ung-di-chuyen-sang-phai {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn-visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;

}

.btn:hover {
    box-shadow: 0 10px 20px white;
    color: white;
}

.btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

@media (max-width:576px) {
    .container-header {
        top: 40%;
        left: 50%;
    }

    .heading-sub {
        display: none;
    }
}

/* header :end */



.shopping-cart {
    margin: 50px 0px;
}

.nomargin {
    font-size: 16px;
}

.stock {
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: #333;
}

.shopping-cart h2 {
    margin-bottom: 100px;
}

.product-info-stock-sku>div span {
    font-weight: 400;
    font-size: 13px;
    color: #ff8500;
    padding: 10px;
}

.type {
    color: #333;
    font-weight: 400;
    font-size: 13px;
}

.value {
    font-weight: 400;
    color: #606060;
    display: inline-block;
    font-size: 13px;
}

.text-center span {
    color: royalblue
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 280px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }
}

/* footer :start */
.page-footer {
    margin-top: 30px;
}

section {

    height: 100px;

}

.footer-distributed {
    background: #111;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #EBDACC;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}



.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #999f;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

/* footer end */
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .shopping-cart .container {
        padding: 10px;
    }

    td .row {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .search-bar form input[type="text"]:focus {
        width: 300px;
        background-color: white;
    }
}

@media (max-width: 300px) {
    .shopping-cart .container {
        padding: 0;
        margin: 0;
    }
}

.btn-danger {
    background: #fff;
    border: none;
    color: #606060
}

.btn-info {
    background: #fff;
    border: none;
    color: #000;
}

/* card-modal-start */
.shopping-cart {
    margin: 50px 0px;
}

.nomargin {
    font-size: 16px;
}

.stock {
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: #333;
}

.shopping-cart h2 {
    margin-bottom: 100px;
    font-size: 50px;
    font-family: Marcellus, sans-serif;
}

.product-info-stock-sku>div span {
    font-weight: 400;
    font-size: 13px;
    color: #ff8500;
    padding: 10px;
}

.type {
    color: #333;
    font-weight: 400;
    font-size: 13px;
}

.value {
    font-weight: 400;
    color: #606060;
    display: inline-block;
    font-size: 13px;
}

.text-center span {
    color: royalblue;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: 0.6rem;
        min-width: 280px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        /* display: inline-block; */
        width: 8rem;
    }

    /* .none{
        display: none;
    } */
    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }
}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 70%;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.btn:hover {
    box-shadow: none;
}

.remove:hover i {
    color: #eb2f06;
}

.edit:hover i {
    color: #38ada9;
}

.btn {
    border: none
}

.modal-title {
    margin-left: auto;
}

/* card-modal-end */
/* * header :start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-left .nav-link {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
}

.nav-link a {
    color: White;
}

.navbar-code {
    position: relative;
    background: #111;
    position: fixed;
    width: 100%;
    z-index: 1004;
}

.navbar-left {
    display: inline-block;
    margin-left: 15px;
}

.navbar-right {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    top: 10%;
    right: 0;
}

.navbar-brand,
.navbar-code .nav-link {
    color: White;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

.navbar-brand {
    font: normal 18px 'Open Sans', cursive;
    padding-left: 30px;
    padding-right: 30px;
    color: #EBDACC;
}

.navbar-code .nav-link:hover {
    color: LightGray;
}

/* .navbar-collapse,
.navbar-toggler {
    display: none;
} */

@media (max-width: 842px) {
    .navbar-left {
        display: block;
    }

    .navbar-right {
        display: block;
        border-top: 1px solid DimGray;
    }

    .navbar-right {
        position: static;
    }

    .navbar-code .nav-link {
        display: block;
    }

    .navbar-collapse:checked+.navbar-code {
        max-height: 50px;
        overflow: hidden;
    }

    /* .navbar-toggler {
        color: White;
        display: inline-block;
        padding: 15px 25px;
        position: absolute;
        top: 0;
        right: 0;
        border: 2px solid DimGray;
        border-radius: 0 0 0 8px;
        cursor: pointer;
    } */

    .logo-header {
        padding: 0;
        padding-left: 30px;
    }
}


/* ô input */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.search {
    position: relative;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    /* float: right; */
    /* background: black; */
}

.search-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 45px;
    z-index: 1000;
}

.search-bar form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}


.search:hover i {
    color: gray;
}

.search:hover .search-bar {
    display: block;
    z-index: 1000;
}

.search-bar form input[type="text"]:focus {
    width: 500px;
    background-color: white;
    z-index: 1000;
}

.navbar-left .nav-lin,
.noidung_dropdown a {
    font-size: 16px;
}

/* .header-bot {
    height: 700px;
    background-image: url("../images/home-1-slider-image-1.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
    background-attachment: fixed;
} */

.logo {
    position: absolute;
    top: 40px;
    left: 20px;
}

.logo img {
    height: 100px;
}

.container-header {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.heading {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-title {
    display: block;
    font-size: 2.5em;
    font-weight: 400;
    animation-name: hieu-ung-di-chuyen-sang-trai;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    font-family: Marcellus;
}

.heading-sub {
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    animation-name: hieu-ung-di-chuyen-sang-phai;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes hieu-ung-di-chuyen-sang-trai {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes hieu-ung-di-chuyen-sang-phai {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn-visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;

}

.remove-product:hover {
    color:  #eb2f06;
}

/* .btn:hover {
    box-shadow: 0 10px 20px white;
    color: white;
} */

/* .btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
} */

.btn-white {
    background-color: #fff;
    color: #777;
}

@media (max-width:576px) {
    .container-header {
        top: 40%;
        left: 50%;
    }

    .heading-sub {
        display: none;
    }
}

/* header :end */
.product-count {
    margin-top: 15px;
}

.qtyminus,
.qtyplus {
    width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.qtyminus {
    border-radius: 3px 0 0 3px;
}

.qtyplus {
    border-radius: 0 3px 3px 0;
}

.qty {
    width: 60px;
    text-align: center;
}

.display-flex {
    display: flex;
}

.nav-link div i {
    color: white;
}

.quantity-product-weight-group {
    display: flex;
}

/* .cart-content .quantity-product-weight-group {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 16px;
  }
  .cart-content .minus-quantity-detail-product,
  .cart-content .plus-quantity-detail-product {
    width: 60px;
  }
  .cart-content .minus-quantity-detail-product {
    border-top: none;
    border-right: 2px solid var(--primary) ;
  }
  .cart-content .plus-quantity-detail-product {
    border-bottom: none;
    border-left: 2px solid var(--primary) ;
  } */
.minus-quantity-detail-product,
.plus-quantity-detail-product {
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary);
    background-color: #fff;
}

.quantity-product-weight {
    height: 40px;
    width: 60px;
    text-align: center;
    border: 2px solid var(--primary);
    outline: none;
}

.plus-quantity-detail-product {
    border-left: none;
}

.minus-quantity-detail-product {
    border-right: none;
}

.back-to-shop a i {
    margin-right: 4px;
}

.back-to-shop a {
    font-size: 18px;
    text-decoration: none;
    color: #198754;
}

.fa-solid {
    font-weight: 900;
}

@media screen and (max-width: 700px) {

    .btn-warning i,
    .btn-block i {
        display: none;
    }
}

@media (min-width: 576px) {
    .quantity-product-weight {
        height: 30px;
        width: 30px;
        text-align: center;
        border: 2px solid var(--primary);
        outline: none;
    }

    .minus-quantity-detail-product,
    .plus-quantity-detail-product {
        width: 30px;
        height: 30px;
        border: 2px solid var(--primary);
        background-color: #fff;
    }

    .plus-quantity-detail-product {
        border-left: none;
    }

    .minus-quantity-detail-product {
        border-right: none;
    }
}
@media screen and (max-width:280px){
    .container1{
        margin: 0 0;
    }
}
/* .container1{
    margin: 20px;
} */
.footer-icons a:hover {
    background-color: #fff;
}

.footer-icons a:hover .fa-facebook-f {
    color: #3B5998;
}

.footer-icons a:hover .fa-twitter {
    color: #1DA1F2;
}

.footer-icons a:hover .fa-instagram {
    color: #BC2A8D;
}

.footer-icons a:hover .fa-youtube {
    color: #f00;
}