.banner-mobi {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slider-item-content {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
}

.slider-item-content p:first-child {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

.nth-child-2 {
  font-size: 16px;
  font-weight: 600;
  width: 600px;
  margin-bottom: 40px;
}

.slider-item-content a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background-color: #be9c79;
  border: 1px solid #be9c79;
  border-radius: 8px;
  padding: 12px 40px;
  transition: linear 0.3s;
}

.slider-item-content a:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #be9c79;
}

@media screen and (min-width: 768px) {
  .banner-mobi {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .slider-item-content,
  .banner-pc {
    display: none;
  }

  .policy-wrap-item span {
    width: 50%;
  }

  .section-description {
    width: 75% !important;
  }

  #slider {
    margin-top: -17px;
  }
}

@media screen and (max-width: 992px) {
  .nav-header ul:last-child li {
    margin: 0 1rem;
  }

  .slider-item-content {
    width: 400px;
    left: 30%;
  }

  .slider-item-content p:first-child {
    font-size: 50px;

  }

  .slider-item-content p:nth-child(2) {
    font-size: 20px;
  }

  .slider-item-content a {
    font-size: 14px;
    padding: 8px 24px;
  }

  #deal-of-the-day {
    height: 60vh;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .slider-item-content {
    width: 600px;
    left: 30%;
  }

  

  .slider-item-content p:first-child {
    font-size: 65px;

  }

  #deal-of-the-day {
    height: 70vh;
  }
}

@media screen and (max-width: 767px) {
  .countdown-number div {
    width: 80px;
    height: 80px;
    line-height: normal;
  }
}

@media screen and (max-width: 1200px) {
  .nth-child-2 {
    display: none;
  }

  .slider-item-content img {
    display: none;
  }
}
